body {
  .page-header,
  .page-header__logo,
  .screen--intro .screen__footer {
    opacity: 0;
  }

  .page-header {
    .page-header__menu a {
      &.active::after {
        width: 0;
      }
    }

    .page-header__logo {
      transform: translateX(-2rem);
    }
    
    .social-block__toggler::before {
      transform: translate(-50%, -50%) scale(0, 0);
    }
  }

  .screen {
    &.screen--intro {
      .screen__footer {
        transform: translateY(100%);
      }
    }
  }

  .background-layer {
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: $c-dark;
    transform-origin: bottom;
    transform: scale(1, 1);
    z-index: 1;
    &.background-layer_initial {
      transform: scale(1, 0);
    }
    &:not(.background-layer_initial) {
      transition: transform $standart-duration linear;
    }
  }
}

body.page-loaded {
  .page-header,
  .page-header__logo,
  .screen--intro .screen__footer {
    opacity: 1;
    transition: opacity $standart-duration $time-function-normal-acceleration-and-slow-braking;
    transition-delay: $standart-delay * 2;
  }

  .page-header {
    .page-header__menu a {
      &.active::after {
        width: 100%;
        left: 0;
        right: auto;
        transition: width $standart-duration;
        transition-delay: $standart-delay * 4;
      }
    }

    .page-header__logo {
      transform: translateX(0);
      transition: transform $standart-duration $time-function-normal-acceleration-and-slow-braking;
      transition-delay: $standart-delay;
    }
    
    .social-block__toggler::before {
      transform: translate(-50%, -50%) scale(1, 1);
      transition: transform $standart-duration $time-function-with-flying-out;
      transition-delay: $standart-delay * 3;
    }
  }

  .screen {
    &.screen--intro {
      .screen__footer {
        transform: translateY(0);
        transition: transform $standart-duration $time-function-normal-acceleration-and-slow-braking;
      }
    }
  }
}
